
body{
  background-image: url("../images/plant.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

h1{
  text-align: center;
}

h2{
  text-align: left;
}
