h1{
  text-align: center;
  font-size: 60px;
}

h2{
  text-align: center;
}

h3{
  text-align:center;
}

h4{
  font-size: 35px;
  font-style: italic;
  text-align: center;
}

h5{
  text-align: center;
  font-size: 30px;
}

p{
 text-align: center;
 font-style: italic;
 font-size: 35px;
}

.home{
  background-image: url("../images/port.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.plant{
  background-image: url("../images/plant.jpg");
  background-size: cover;
  background-repeat: no-repeat;

}
.book{
  background-image: url("../images/book.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.skills{
  background-image: url("../images/skills.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.back1{
  background-image: url("../images/back1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.javier{
  font-family: sans-serif;
  text-align:inherit;
}
